In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Load the data
ratings = pd.read_csv("C:\\Users\\Admin\\Desktop\\CODSOFT\\ml-100k\\u.data", sep='\t', names=['userId', 'movieId', 'rating', 'timestamp'])
movies = pd.read_csv("C:\\Users\\Admin\\Desktop\\CODSOFT\\ml-100k\\u.item", sep='|', names=['movieId', 'title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'], encoding='latin-1')

# Display the first few rows of each DataFrame
print(ratings.head())
print(movies.head())

   userId  movieId  rating  timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596
   movieId              title release_date  video_release_date  \
0        1   Toy Story (1995)  01-Jan-1995                 NaN
1        2   GoldenEye (1995)  01-Jan-1995                 NaN
2        3  Four Rooms (1995)  01-Jan-1995                 NaN
3        4  Get Shorty (1995)  01-Jan-1995                 NaN
4        5     Copycat (1995)  01-Jan-1995                 NaN

                                            IMDb_URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Children  ...  Fantasy  Film-Noir  Horror  Musical  \
0          0          1         1  ...        0          0       0        0
1          1          0         0  ...        0          0       0        0
2          0          0         0  ...        0          0       0        0
3          0          0         0  ...        0          0       0        0
4          0          0         0  ...        0          0       0        0

   Mystery  Romance  Sci-Fi  Thriller  War  Western
0        0        0       0         0    0        0
1        0        0       0         1    0        0
2        0        0       0         1    0        0
3        0        0       0         0    0        0
4        0        0       0         1    0        0

[5 rows x 24 columns]

In [2]:
ratings.info()
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100000 non-null  int64
 1   movieId    100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movieId             1682 non-null   int64
 1   title               1682 non-null   object
 2   release_date        1681 non-null   object
 3   video_release_date  0 non-null      float64
 4   IMDb_URL            1679 non-null   object
 5   unknown             1682 non-null   int64
 6   Action              1682 non-null   int64
 7   Adventure           1682 non-null   int64
 8   Animation           1682 non-null   int64
 9   Children            1682 non-null   int64
 10  Comedy              1682 non-null   int64
 11  Crime               1682 non-null   int64
 12  Documentary         1682 non-null   int64
 13  Drama               1682 non-null   int64
 14  Fantasy             1682 non-null   int64
 15  Film-Noir           1682 non-null   int64
 16  Horror              1682 non-null   int64
 17  Musical             1682 non-null   int64
 18  Mystery             1682 non-null   int64
 19  Romance             1682 non-null   int64
 20  Sci-Fi              1682 non-null   int64
 21  Thriller            1682 non-null   int64
 22  War                 1682 non-null   int64
 23  Western             1682 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB

In [3]:
# Merge the ratings and movies DataFrames
data = pd.merge(ratings, movies, on='movieId')
print(data.head())

   userId  movieId  rating  timestamp         title release_date  \
0     196      242       3  881250949  Kolya (1996)  24-Jan-1997
1      63      242       3  875747190  Kolya (1996)  24-Jan-1997
2     226      242       5  883888671  Kolya (1996)  24-Jan-1997
3     154      242       3  879138235  Kolya (1996)  24-Jan-1997
4     306      242       5  876503793  Kolya (1996)  24-Jan-1997

   video_release_date                                         IMDb_URL  \
0                 NaN  http://us.imdb.com/M/title-exact?Kolya%20(1996)
1                 NaN  http://us.imdb.com/M/title-exact?Kolya%20(1996)
2                 NaN  http://us.imdb.com/M/title-exact?Kolya%20(1996)
3                 NaN  http://us.imdb.com/M/title-exact?Kolya%20(1996)
4                 NaN  http://us.imdb.com/M/title-exact?Kolya%20(1996)

   unknown  Action  ...  Fantasy  Film-Noir  Horror  Musical  Mystery  \
0        0       0  ...        0          0       0        0        0
1        0       0  ...        0          0       0        0        0
2        0       0  ...        0          0       0        0        0
3        0       0  ...        0          0       0        0        0
4        0       0  ...        0          0       0        0        0

   Romance  Sci-Fi  Thriller  War  Western
0        0       0         0    0        0
1        0       0         0    0        0
2        0       0         0    0        0
3        0       0         0    0        0
4        0       0         0    0        0

[5 rows x 27 columns]

In [4]:
user_item_matrix = data.pivot(index='userId', columns='movieId', values='rating').fillna(0)

# Display the first few rows of the user-item matrix
print(user_item_matrix.head())

movieId  1     2     3     4     5     6     7     8     9     10    ...  \
userId                                                               ...
1         5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
2         4.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   2.0  ...
3         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
4         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
5         4.0   3.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...

movieId  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
userId
1         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
5         0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 1682 columns]

In [5]:
# Calculate the cosine similarity between users
user_similarity = cosine_similarity(user_item_matrix)
user_similarity_df = pd.DataFrame(user_similarity, index=user_item_matrix.index, columns=user_item_matrix.index)

In [7]:
def recommend_movies(user_id, user_similarity_df, user_item_matrix, movies_df, n_recommendations=5):
    similar_users = user_similarity_df[user_id].sort_values(ascending=False).index[1:]
    similar_users_ratings = user_item_matrix.loc[similar_users]
    recommendations = similar_users_ratings.mean(axis=0).sort_values(ascending=False)
    recommendations = recommendations[user_item_matrix.loc[user_id] == 0]
    recommended_movie_ids = recommendations.head(n_recommendations).index.tolist()
    recommended_movie_titles = get_movie_titles(recommended_movie_ids, movies_df)
    return recommended_movie_titles

In [8]:
def get_movie_titles(movie_ids, movies_df):
    return movies_df[movies_df['movieId'].isin(movie_ids)]['title'].values

In [9]:
while True:
    try:
        user_id = int(input("Enter user ID (1 to 943): "))
        if user_id < 1 or user_id > 943:
            print("User ID must be between 1 and 943")
            continue
        
        recommendations = recommend_movies(user_id, user_similarity_df, user_item_matrix, movies)
        print(f"\nRecommended movies for user {user_id}:")
        for i, title in enumerate(recommendations, start=1):
            print(f"{i}. {title}")
        
        # Ask if user wants to continue
        answer = input("\nDo you want to recommend movies for another user? (yes/no): ").lower()
        if answer != 'yes':
            break
    except ValueError:
        print("Invalid input. Please enter a valid user ID.")

Enter user ID (1 to 943): 1

Recommended movies for user 1:
1. English Patient, The (1996)
2. Scream (1996)
3. Liar Liar (1997)
4. Air Force One (1997)
5. Titanic (1997)

Do you want to recommend movies for another user? (yes/no): yes
Enter user ID (1 to 943): 5

Recommended movies for user 5:
1. Pulp Fiction (1994)
2. Godfather, The (1972)
3. Contact (1997)
4. English Patient, The (1996)
5. Scream (1996)

Do you want to recommend movies for another user? (yes/no): no